In [9]:
import pandas as pd
df1 = pd.read_excel('data1.xlsx')
df2 = pd.read_excel('data1.xlsx')
df4 = pd.read_excel('data1.xlsx')
frames = [df1, df2, df4]
df3 = pd.concat(frames)
print(df3)

         NAME     DEPT      ROLE  ATT DAY    SALY     TA
0         MIN     SALE     ADMIN     15.0  250000  30000
1       KHANT      RMS  MANANGER     20.0  250000  40000
2         THU  ACCOUNT      TTMY     25.0  250000  50000
3   MIN KHANT      GRG    CLEAER     13.0  250000  26000
4   KHANT MIN     SALE     SUPER      NaN  250000      0
5     MIN THU      RMS     ADMIN     15.0  250000  30000
6         THU  ACCOUNT  MANANGER     20.0  400000  40000
7       KHANT      GRG      TTMY     25.0  250000  50000
8     MIN MIN     SALE    CLEAER     13.0  250000  26000
9        SHWE      RMS     SUPER     18.0  250000   -290
10      YAMIN  ACCOUNT     ADMIN     15.0  250000  30000
11    ZAW GYI      GRG  MANANGER     20.0  400000  40000
12    MA PANN     SALE      TTMY     25.0  250000  50000
13  THET HINN      RMS    CLEAER     13.0  150000  26000
14   AYE MYAT  ACCOUNT     SUPER     18.0  250000  36000
15    HSU LAL      GRG     ADMIN     15.0  250000  30000
16    MAY THU     SALE  MANANGER     20.0  250000  40000
17     THAZIN      RMS      TTMY     25.0  250000  50000
18        ZIN  ACCOUNT    CLEAER     13.0  250000  26000
0         MIN     SALE     ADMIN     15.0  250000  30000
1       KHANT      RMS  MANANGER     20.0  250000  40000
2         THU  ACCOUNT      TTMY     25.0  250000  50000
3   MIN KHANT      GRG    CLEAER     13.0  250000  26000
4   KHANT MIN     SALE     SUPER      NaN  250000      0
5     MIN THU      RMS     ADMIN     15.0  250000  30000
6         THU  ACCOUNT  MANANGER     20.0  400000  40000
7       KHANT      GRG      TTMY     25.0  250000  50000
8     MIN MIN     SALE    CLEAER     13.0  250000  26000
9        SHWE      RMS     SUPER     18.0  250000   -290
10      YAMIN  ACCOUNT     ADMIN     15.0  250000  30000
11    ZAW GYI      GRG  MANANGER     20.0  400000  40000
12    MA PANN     SALE      TTMY     25.0  250000  50000
13  THET HINN      RMS    CLEAER     13.0  150000  26000
14   AYE MYAT  ACCOUNT     SUPER     18.0  250000  36000
15    HSU LAL      GRG     ADMIN     15.0  250000  30000
16    MAY THU     SALE  MANANGER     20.0  250000  40000
17     THAZIN      RMS      TTMY     25.0  250000  50000
18        ZIN  ACCOUNT    CLEAER     13.0  250000  26000
0         MIN     SALE     ADMIN     15.0  250000  30000
1       KHANT      RMS  MANANGER     20.0  250000  40000
2         THU  ACCOUNT      TTMY     25.0  250000  50000
3   MIN KHANT      GRG    CLEAER     13.0  250000  26000
4   KHANT MIN     SALE     SUPER      NaN  250000      0
5     MIN THU      RMS     ADMIN     15.0  250000  30000
6         THU  ACCOUNT  MANANGER     20.0  400000  40000
7       KHANT      GRG      TTMY     25.0  250000  50000
8     MIN MIN     SALE    CLEAER     13.0  250000  26000
9        SHWE      RMS     SUPER     18.0  250000   -290
10      YAMIN  ACCOUNT     ADMIN     15.0  250000  30000
11    ZAW GYI      GRG  MANANGER     20.0  400000  40000
12    MA PANN     SALE      TTMY     25.0  250000  50000
13  THET HINN      RMS    CLEAER     13.0  150000  26000
14   AYE MYAT  ACCOUNT     SUPER     18.0  250000  36000
15    HSU LAL      GRG     ADMIN     15.0  250000  30000
16    MAY THU     SALE  MANANGER     20.0  250000  40000
17     THAZIN      RMS      TTMY     25.0  250000  50000
18        ZIN  ACCOUNT    CLEAER     13.0  250000  26000